// showing default values
// https://vuepress.vuejs.org/config/#palette-styl
$accentColor = #0047FF // blue-1
$textColor = #232327 // dark-2
$borderColor = #EFEFF0 // light-4
$codeBgColor = #3D3D4B // dark-3
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
